html, body#tinymce {background-color:#FAFAFA;}
body {font-family:Arial, Verdana, Helvetica, sans-serif;padding: 0px;}
body.lang-vi {font-family:Helvetica, Arial, sans-serif !important;}

/**
 * Links
 */
a {text-decoration:none;color:#445566;}
a.autolink {color:#000000;background: #e1e1e1;}
a:hover {text-decoration:underline;color:#667788;}

.img-text a:hover {text-decoration: none;}
.img-text a:hover span {text-decoration: underline;}

.homelink a {color: #000;text-decoration: none;border-top: 1px solid #cecece;border-bottom: 2px solid #4a4a4a;border-left: 1px solid #cecece;border-right: 2px solid #4a4a4a;}
.homelink a:hover {text-decoration: none;border-bottom: 1px solid #cecece;border-top: 2px solid #4a4a4a;border-right: 1px solid #cecece;border-left: 2px solid #4a4a4a;}

/**
 * Headings
 */
h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {text-align:center;font-weight:bold;}

th.header,
td.header,
div.header,
.navbar {border-color:#DDDDDD;}

/**
 * Boxes
 */
.generalbox,
.informationbox,
.noticebox,
.tabledivider {border-color:#DDD;}
.headingblock {border:1px solid #DDD;padding:5px;margin-top:0;}
h2.headingblock {font-size:1.1em;}
.headingblock .outline {border-color:#DDDDDD;}
/*.header,
.navbar {background-image:url([[pix:theme|hgradient]]);background-repeat: repeat-x;background-color:#e1e1df;}
*/
.sitetopic {margin-bottom:1em;}
.sitetopiccontent {border-color:#DDDDDD;background-color:#FFFFFF;}

.notifytiny {padding:10px;color:#000044;text-align:center;}

.warning  {font-style: italic;}
.error {color:#ff0000;}
.errorbox {color:#ffffff;border-color:#660000;background-color:#990000;font-style: italic;}
.errorbox .title {font-size: 1.2em;text-align: center;background-color:#FFBBBB;}
.errorboxcontent {text-align: center;}
.errorcode {font-size: 0.7em;}

.generaltable {border:1px solid #DDD;border-collapse: collapse;background-color:#FFF;border-color:#EEEEEE;}
.generaltable.mdl-align {margin:0 auto;}
.generaltable td {border:1px solid #DDD;vertical-align:top;}
.generaltable .cell {background-color:#FFFFFF;border-color:#EEEEEE;}

#page-site-index .subscribelink,
.path-course-view .subscribelink {font-size: 0.8em;}

.files .file,
.files .folder {font-size: 0.9em;}
.files .folder .size {font-weight: bold;}
.coursefilesbreadcrumb {margin: .5em 0; padding: .5em 0;}

a.useredit,
a:hover.useredit,
.blink {color: black;cursor: help;}

.navigation button {font-size: 80%;}

img.userpicture,
img.grouppicture {border:0px solid #000}

table.formtable tbody th {background-color: transparent;background-image: none;}

.highlight {background-color:#AAFFAA;}

.unread {background: #FFD991;}

.censoredtext {color:#000000;background:#000000;}
.censoredtexthighlight {color:#000000;background:#B0B0B0;}

.navigation select {background-color:#FFFFFF;}
.navigation optgroup {background-color:#EEEEEE;}
.navigation optgroup option {background-color:#FFFFFF;}

.mod_introbox {border-color:#DDDDDD;}

/**
 * Docs
 */
#doc-contents h1 {font-size: 0.9em;}
#doc-contents ul {font-size: 0.8em;}

/**
 * Login
 */
#page-login-index #content {font-size: 0.85em;}
.loginbox {margin:15px 25%;width:50%;border:1px solid;}
.loginbox.twocolumns {width:90%;margin:15px 5%;}
.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent {border-color:#DDDDDD;}
.loginbox .guestsub,
.loginbox .forgotsub,
.loginbox .potentialidps {border-top:1px solid;}

/**
 * Logs
 */
.logtable {margin-left:auto;margin-right:auto;}
.logtable td {font-size: 0.8em;}
.logtable th {font-size: 0.9em;}
.logtable .r1 {background-color:#EEEEEE;}

/**
 * Blog
 */
.blog_entry .audience,
.blog_entry .tags {font-size: 0.85em;}
.blog_entry.blogdraft .content {background-color:#EEEEEE;}

/**
 * My Moodle
 */
.my .courseboxcontent .overview .info {font-size:0.7em;}

/**
 * Tiny MCE
 */
.mceContentBody  {background-color:#FAFAFA;color:#000;}

/**
 * General
 */
#layout-table {margin-top: 8px;}
#layout-table #content {padding-left:12px;padding-right:12px;}
.redirectmessage {text-align: center;margin-top:10%;}
.continuebutton {text-align: center;}
#grouppicture {text-align: center;}
.notifyproblem {text-align: center;padding: 10px;}
.notifysuccess {text-align:center;padding: 10px;}
.notifytiny {text-align:left;padding: 0;}
.collapsibleregion .collapsibleregioncaption a {color: inherit;text-decoration: none;}
.noticebox {border-width:1px;border-style:solid;padding:10px;}
#notice.generalbox {width: 60%;margin-left:auto;margin-right:auto;}
#notice .buttons {text-align:center}
#notice .buttons div,
#notice .buttons form {display:inline;}
#notice .singlebutton {text-align:center;padding: 5px;margin: 0px;}
.generalbox {border-width:1px;border-style:solid;margin-bottom: 15px;padding:10px;}
.generalbox#intro {width:70%;margin-left:auto;margin-right:auto;padding-bottom:15px;}
.errorbox {border-width:1px;border-style:solid;margin: 1em 15%;width: 70%;padding:10px;}
.errorbox .title {padding: 5px;}
.informationbox {border-width:1px;border-style:solid;padding: 10px;}
.feedbackbox {border-width:1px;border-style:solid;}
.rsslink {padding:  0 0 0 0.3em;}
.printicon {padding:  0 0 0 0.3em;}
.generaltable {border-width: 1px;border-style: solid;}
.generaltable .cell {border-width: 1px;border-style: solid;}
.paging {text-align: center;margin: 10px 0 10px 0;}
.pagingbar {text-align:center;}
.pagingbar a {padding-left: 10px;}
.pagingbar .thispage {padding-left: 10px;}
table.rotateheaders th.header {vertical-align: bottom;}
#participationreport .reporttable {text-align: center;margin-left:auto;margin-right:auto;}
#participationreport {text-align: center;}
#participationreport .modulename {font-weight: bold;}
#participationreportselector {text-align: center;}
#participationreportactions {text-align: center;}
.initialbar {text-align: center;}
.helplink img {margin: 0 2px;}
.closewindow,
.tabledivider {border-width:1px;border-style:solid;border-left:0;border-right:0;border-top:0;}
.sitetopic {margin-bottom:20px;}
.sitetopiccontent {border-width:1px;border-style:solid;}
table.formtable {margin: auto;}
table.formtable tbody td,
table.formtable tbody th{padding: 5px;}
table.formtable tbody .htmlarea td,
table.formtable tbody .htmlarea th{padding: 0;}
.unread {padding-right:2px;}
.heading-with-help {text-align:center;margin:0.83em 0;}
.heading-with-help h2 {margin:0;}
form.popupform label {margin-right: 0.5em;}
.arrow_button {margin-top:3em;}
.arrow_button input {padding:0.3em;}

/**
 * User
 **/
#userselector_options {font-size: 0.75em;}
.userinfobox {border-color: #DDDDDD;}
.userinfobox .links {font-size: 0.7em;}
.iplookup #header h1.headermain {font-size:1em;}
.iplookup #note {font-size:0.8em;font-style: italic;}
.groupinfobox {border-color: #DDDDDD;width: 60%;margin-left: 20%;margin-right: 20%;}
.userinfobox {width:80%;margin:10px auto;}
#page-user-index h2 {text-align: center;}
#page-user-index #showall {text-align: center;}
#page-user-profile .remoteuserinfo, #page-user-view .remoteuserinfo{background-color:#D2EBFF;text-align:center;padding:3px;}
#page-user-profile .messagebox {text-align:center;margin-left:auto;margin-right:auto;padding:5px;}

/**
 * Moodle Forms
 */
.mform {}
.mform fieldset {border: 1px solid #DDDDDD;padding: 10px 0;margin: 0.7em 0;width:100%;}
.mform .fitem fieldset.felement {margin-top:0;padding-top:0;margin-bottom:0;padding-bottom:0;}
.mform .fpassword .unmask input {margin-left:5px;margin-right:3px;}
#page-admin-register .mform .fsubmit {padding:20px;text-align:center;}

/**
 * Filters
 */
.texrender {border:0px;vertical-align:middle;}

/**
 * Groups
 */
.groupmanagementtable {width: 90%;}
.groupmanagementtable p {text-align: left;margin-bottom: 0.2em;}
.groupmanagementtable #existingcell label,
.groupmanagementtable #potentialcell label {font-weight: bold;}
.groupmanagementtable #buttonscell p {text-align: center;}
.groupmanagementtable #buttonscell input {padding: 1em 0;}
.groupmanagementtable #buttonscell #remove {margin: 7em 0;}
.groupmanagementtable #backcell {padding-top: 2em;text-align: center;}
#page-group-groupings .buttons {margin: 20px;text-align:center;}
#page-group-groupings .buttons .singlebutton {display: inline;padding: 5px;}

/**
 * Notes
 */
.notepost {background-color: #EEE;}
.notepost .header {background: #DDD;padding: 5px;}
.notepost .user {font-weight: bolder;}
.notepost .info {font-size: smaller;}
.path-notes .generalbox {margin-left:auto;margin-right:auto;width:90%;}

/**
 * Logs
 */
.logtable td,
.logtable th {padding-left: 10px;padding-right: 10px;}

/**
 * Help
 */
#help .indent {margin-left:3em;}
#help .helpindex {text-align: center;}
#help_icon_tooltip {font-size: 0.7em;}
#help_icon_tooltip h1 {font-size: 1.1em;font-weight: bold;}
#help_icon_tooltip .readmore {display: block;font-style: italic;margin-top:10px;}
#help .example1 {color: #a00;}
#help .success {color: #080;}
#help pre,
#help code {background: #eee;border: 1px dashed #ddd;padding: 3px;}

/**
 * Tags
 */
h2.tag-heading {text-align:center;margin-left:auto;margin-right:auto;width:95%;}
#tag-user-table,
#tag-description,
#tag-blogs {width:95%;margin-left:auto;margin-right:auto;}
#page-tag-index .moreblogs,
#tag-management-box,
.tag .relatedpages,
#page-tag-index .moreblogs {text-align:center;}
#tags-management-links,
.tag .managelink {text-align:right;}
table#tag-management-list {margin: 10px auto;width: 80%;}
#page-tag-index.dir-rtl .relatedpages {text-align:center;}
#page-tag-index.dir-rtl .user-box {float:right;}

/**
 * Overriding base
 */
#page-header .headermain {font-size:2.0em;}
#page-header {
	background: #446688;
	margin: 0 0 10px 0;
	color: #fff;
}
#page-header a { color: #fff; }
#page-header a:hover { color: #eebb33; }

/*.pagelayout-frontpage #page-header {border-bottom:2px groove #999;margin:0 0.5%;width:99%;}*/
/*.has_custom_menu.pagelayout-frontpage #page-header {border-bottom-width:0;}*/

.navbar {margin:5px 10px;}
.navbar .breadcrumb {margin:5px;}
.navbar .navbutton {margin:5px;}
.mform fieldset {border-color:#DDD;}

/**
 * Tabs
 */
.tabtree ul {text-align:center;}
.tabtree .tabrow0 {width:100%;margin:1em 0px;}
.tabtree .tabrow0 li {margin-right:-4px;}
.tabtree .tabrow0 li.here {font-weight: bold;}
.tabtree .tabrow0 li.here a {position:relative;z-index:102;}
.tabtree .tabrow0 li a {background-image:url([[pix:theme|tab/left]]);padding-left:14px;padding-top:10px;background-repeat:no-repeat;padding-bottom:3px;margin-bottom:-1px;}
.tabtree .tabrow0 li a:hover {background-image:url([[pix:theme|tab/left_hover]]);}
.tabtree .tabrow0 li a span { background-image:url([[pix:theme|tab/right]]);background-repeat:no-repeat;background-position:100% 0%;padding-right:14px;padding-top:10px;padding-bottom:3px;}
.tabtree .tabrow0 li a:hover span {background-image:url([[pix:theme|tab/right_hover]]);}
.tabtree .tabrow0 ul,
.tabtree .tabrow0 div {font-weight: normal;background-image:url([[pix:theme|tab/tabrow1]]);background-position:0% 50%;border-top:1px solid #aaa;padding:0.25em 0px;margin:0px;}
.tabtree .tabrow0 li.here .empty {display:block;height:1px;overflow:hidden;padding:0px;position:absolute;width:100%;bottom:-4px;}
.tabtree .tabrow1 li a,
.tabtree .tabrow1 li a:hover,
.tabtree .tabrow1 li a span,
.tabtree .tabrow1 li a:hover span {background-image:none !important;}

.tabtree a.nolink,
.tabtree .here ul a.nolink,
.tabtree a.nolink:hover,
.tabtree .here ul a.nolink:hover {color: #888;text-decoration: none;}
.tabtree .here a.nolink,
.tabtree .here ul .here a.nolink,
.tabtree .here a.nolink:hover,
.tabtree .here ul .here a.nolink:hover {color: black;text-decoration: none;}

.ie7 .tabtree .tabrow0 li {margin-left: 0;}
.ie7 .tabtree .tabrow0 li.first {margin-right: -4px;}
.ie7 .tabtree .tabrow0 li.onerow {margin-right: 0;}
.ie7 .tabtree .tabrow0 a {display: inline-block;padding: 8px 0 0.35em 13px;line-height: 1.5em;}
.ie7 .tabtree .tabrow0 a span {padding: 10px 1em 10px 0;}
.ie7 .tabtree .tabrow0 div {top: 2.6em;padding: 0.2em 0;}
.ie7 .tabtree .tabrow0 div.empty {margin-right: 0;}
.ie7.mod-quiz div.tabtree a span img.iconsmall {margin: 0;vertical-align: baseline;position: relative;top: 2px;}

.ie6 .tabtree {height: 100%;}
.ie6 .tabtree .tabrow0 {padding-top: 10px;}
.ie6 .tabtree .tabrow0 li {margin-left: 0;}
.ie6 .tabtree .tabrow0 li.first {margin-left: -4px;margin-right: -4px;}
.ie6 .tabtree .tabrow0 li.last a {margin-right: 0;}
.ie6 .tabtree .tabrow0 li.onerow {margin-right: 0;}
.ie6 .tabtree .tabrow0 a {padding: 0 0 0 13px;}
.ie6 .tabtree .tabrow0 a span {padding: 12px 1em 4px 0;}
.ie6 .tabtree .tabrow0 div {top: 3.5em;padding: 0.2em 0;}

/**
 * Comment
 */
.comment-area textarea {border: 1px solid gray;}

.ie6 .que .info {display: inline;}
.ie6.course-view li.activity {height:0;}
.ie6 #help_icon_tooltip .yui-tt-shadow-visible {background-color: transparent;}

/*
 * Backup CSS
 */
.path-backup .mform .grouped_settings.section_level {border:1px solid #aaa;margin:10px;clear:both;background-color:#EEE;}
.path-backup .mform .grouped_settings.section_level .grouped_settings.activity_level  {background-color:#fff;border:1px solid #fff;border-top-color:#DDD;}
.path-backup .mform .grouped_settings.section_level .include_setting {font-weight:bold;}
.path-backup .mform .grouped_settings.activity_level .include_setting label {font-weight:normal;}
.path-backup .backup_progress {margin:10px;}
.path-backup .backup_progress .backup_stage {margin:5px 20px;}
.backup-files-table .c0 {min-width:300px;}
.backup-files-table .c1 {width:300px;}
.backup-files-table .c2 {width:80px;}
.backup-files-table .c3 {width:80px;}
.backup-files-table .c4 {width:80px;}

/**
 * Site registration
 */

 #page-admin-registration-index .centeredbutton {text-align: center}
 #page-admin-registration-index .cell {border-width: 0 1px;}
 #page-admin-registration-index .justifytext {text-align: justify}


 /**
 * Course publication
 */

 #page-course-publish-index .centeredbutton {text-align: center}
 #page-course-publish-index .cell {border-width: 0 1px;}
 #page-course-publish-index .justifytext {text-align: justify}
 #page-course-publish-index .publicationwarning {color: #6666ff;}

/**
 * Custom menu
 */
.pagelayout-frontpage #custommenu {padding:0 2px;}
#custommenu {padding:0 10px;}
#custommenu .yui3-menu {background-image:url([[pix:theme|hgradient]]);background-repeat: repeat-x;background-color:#e1e1df;}
#custommenu .yui3-menu .yui3-menu {background-image:none;background-color:#FFF;}
#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content,
#custommenu .yui3-menu .yui3-menu-content,
#custommenu .yui3-menu .yui3-menu .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul {border-color:#CCC;}
#custommenu .yui3-menu .yui3-menuitem-content,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-content {cursor:pointer;}
#custommenu .yui3-menu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menuitem-active {background-color:#e1e1df;}
#custommenu .yui3-menu-horizontal.javascript-disabled a {color:inherit;}
#custommenu .yui3-menu-horizontal.javascript-disabled a:hover {color:blue;text-decoration:none;}
#custommenu .yui3-menu-content,
#custommenu .yui3-menu .yui3-menu .yui3-menu-content { padding: 0; line-height: 2;}

.smartselect .smartselect_menuitem:hover,
.smartselect .smartselect_submenuitem:hover {background-color:#C2EAFF;}
.smartselect .smartselect_submenu {border-color:#999;}
.smartselect .smartselect_menu,
.smartselect .smartselect_submenu {-moz-border-radius:4px;-webkit-border-radius: 5px;}

/**
 * Enrol
 */
.userenrolment {font-size:90%;border:1px solid #999;}
.userenrolment tr.r0 {background-color:#F9F9F9;}
.userenrolment tr.r1 {background-color:#F3F3F3;}
.userenrolment td {border:1px solid #E9E9E9;border-top-color:#F6F6F6;border-right-color:#EEE;border-left-color:#F3F3F3;}
.userenrolment td.c0 {border-left-width:0;}
.userenrolment td.lastcol {border-right-color:#999;}
.userenrolment .col_bulkops {vertical-align:middle;text-align:center;}
.userenrolment .r0 .col_bulkops {background-color:#FFFFFF;}
.userenrolment .r1 .col_bulkops {background-color:#F9F9F9;}
.userenrolment tr.lastrow td {border-bottom-width:0;}
.userenrolment .col_userdetails {padding:3px;min-width:35%;}
.userenrolment .col_role .roles {position:relative;}
.userenrolment .col_role .role {line-height:10px;font-size:10px;}
.userenrolment .col_role .role a img {height:8px;}
.userenrolment .col_role .addrole {background-color:#DDD;border:1px outset #EEE;-moz-border-radius:5px;}
.userenrolment .col_group {max-width:300px;}
.userenrolment .col_group .group {line-height:10px;font-size:10px;}
.userenrolment .col_group .group a img {height:8px;}
.userenrolment .col_group .addgroup {background-color:#DDD;border:1px outset #EEE;-moz-border-radius:5px;}
.userenrolment .col_enrol {max-width:300px;}
.userenrolment .col_enrol .enrolment {border:1px outset #E6E6E6;background-color:#EEE;line-height:10px;font-size:10px;-moz-border-radius:5px;}
.userenrolment.otheruserenrolment .col_role .role {float:none;}
.path-enrol .enrolusersbutton,
.path-enrol .enrolcohortbutton {float:left;}
.path-enrol .enrolusersbutton.instance1,
.path-enrol .enrolcohortbutton.instance1,
.path-enrol .assignuserrole.instance1 {float:right;}
.path-enrol .singleselect.bulkuserop {float:left;}

/* Registration */
#page-admin-registration-hubselector .registration_textfield {width: 400px;}

/* Portfolio */
.path-portfolio .exportsummary {margin:0px auto 1em auto;}
.portfolio-add-icon {margin-left:5px;}

/* Messaging options */
#page-message-edit table.generaltable th.c0 {text-align: left;}
#page-message-edit table.generaltable td.c0 {text-align: right;}
#page-message-edit table.generaltable td.disallowed {text-align: center;vertical-align:middle;}
#messagewarning {font-style:italic;}
