/**
 * Rounded Corner Syntax Guide
 *
 * The following are CSS means for getting rounded corners. Sorry no IE yet, and
 * please note that each uses a slightly different style of syntax for specific
 * definition (top, bottom, left, right).
 *
 * CSS3 rounded corners
 *   border-radius
 *   border-top-left-radius
 *   border-top-right-radius
 *   border-bottom-left-radius
 *   border-bottom-right-radius
 *
 * Mozilla rounded corners
 *   -moz-border-radius
 *   -moz-border-radius-topleft
 *   -moz-border-radius-topright
 *   -moz-border-radius-bottomleft
 *   -moz-border-radius-bottomright
 *
 * Webkit rounded corners
 *   -webkit-border-radius
 *   -webkit-border-top-left-radius
 *   -webkit-border-top-right-radius
 *   -webkit-border-bottom-left-radius
 *   -webkit-border-bottom-right-radius
 */

.block.hidden {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.headingblock,
table.minicalendar td,
.path-calendar .maincalendar .filters table,
.path-calendar .sidecalendar .filters table,
.block.block_calendar_month .filters table,
.path-calendar .maincalendar li.calendar_event_course,
.path-calendar .maincalendar li.calendar_event_global,
.path-calendar .maincalendar li.calendar_event_user,
.path-calendar .maincalendar li.calendar_event_group,
.path-calendar .filters td.calendar_event_course,
.path-calendar .filters td.calendar_event_global,
.path-calendar .filters td.calendar_event_user,
.path-calendar .filters td.calendar_event_group {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.noticebox,
.gradingform_rubric_editform .status {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.categorybox,
.categoryboxcontent,
.coursebox,
.notifyproblem,
.notifysuccess,
table.minicalendar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.sitetopiccontent {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.block_course_summary,
.block_course_summary .content,
#page-report-outline-user .section {
  -moz-border-radius:3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.generalbox,
.generalboxcontent,
.informationbox,
.informationboxcontent {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.editing .block_course_summary .content {
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.entryboxheader {
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.generaltabselected,
.generaltab, .generaltabinactive,
.glossarycategoryheader,
.glossaryformatheader {
  -moz-border-radius-topleft:15px;
  -moz-border-radius-topright:15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.entrybox {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.path-calendar .eventlist .event,
.glossarypost,
#page-mod-journal-view .feedbackbox{
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.path-calendar .eventlist .event .side,
.glossarypost .side,
#page-mod-journal-view .feedbackbox .side {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.path-calendar .eventlist .event .description,
.encyclopedia .entrylowersection,
#page-mod-journal-view .feedbackbox .entrycontent {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.path-calendar .maincalendar,
.path-calendar .sidecalendar,
.path-calendar td.sidecalendar .block,
.loginbox,
.userinfobox,
.groupinfobox,
.forumpost,
.block .content,
.glossarycomment {
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.loginbox .content.left,
#page-user-view .left,
.forumpost .side,
.glossarycomment .side {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.loginbox .content.right,
.forumpost .content,
.forumpost .message,
.forumpost .side,
.glossarycomment .entry {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#quiznavigation .qnbutton {
  -moz-box-sizing: content-box;
}

#page-mod-quiz-edit div.editq div.question div.content,
#page-mod-quiz-edit div.quizpage .pagecontent {
  -moz-border-radius-topright: 0.6em;
  -moz-border-radius-bottomright: 0.6em;
  -webkit-border-top-right-radius: 0.6em;
  -webkit-border-bottom-right-radius: 0.6em;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
#page-mod-quiz-edit div.quizpage .pagecontent .pagestatus,
#page-mod-quiz-edit .reorder div.question div.content{
  -moz-border-radius-topright: 0.3em;
  -moz-border-radius-bottomright: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -webkit-border-bottom-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
#page-mod-quiz-edit div.question div.content div.points,
#page-mod-quiz-edit div.question div.content div.qorder {
  -moz-border-radius-topright: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
#page-mod-quiz-edit div.quizpage .pagecontent form#addquestion{
    -moz-border-radius:0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}
